<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}" />
    <title>Login</title>
</head>
<body>
    <div>
        <h2>Welcome! Please log in below:</h2>

        {% if session.get('username') %}
            <h3>You are already logged in as {{ session['username'] }}.
                <a href="{{ url_for('dashboard') }}">Go to your dashboard</a>.</h3>
        {% else %}
            <form action="/login" method="post">
                <input class="input-area" type="text" name="username" placeholder="Enter Username" required />
                <input class="input-area" type="password" name="password" placeholder="Enter Password" required />

                <button id="login-btn" type="submit">Login</button>

                <h2 class="message">{{ message }}</h2>

                <h5><i>Username = john <br/> Password = doe</i></h5>
            </form>
        {% endif %}
    </div>
</body>
</html>
